.main-sidebar {
    background-color: #131523;
    height: 100%;
    position: fixed !important;

    a {
        font-size: 0.8rem;

    }

    .nav-item {
        
        .active {
            background-color: #14172E !important ;
            color: #0062FF !important;
        }

        .nav-link {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}