.alltime-card {
    background-color: #fff;
    border-radius:  20px;
    
    .card-header {
        background-color: rgba(0, 0, 0, 0.035) !important;
        border: none;
        border-radius: 20px 20px 0 0;

        .card-title {
            color: #171725;
            font-weight: 700;
            font-size: 0.8rem;
        }

    }
    
    .alltime-card-body {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    
    
        .body-cont {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #39D5CF;
            padding: 15px 15px 10px;
            margin: 0 10px;
            border-radius: 20px;
            color: #fff;
            width: 40%;
    
            .title {
                font-size: 0.8rem;
                font-weight: 500;
                  
            }

            .sub-cont{
                display: flex;
                justify-content: space-between;
                width: 100%;
                
                .hl-cont {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;;
                    margin: 20px 0 10px;

                    .hd {
                        font-size: 0.6rem;
                        text-transform: uppercase;

                    }

                    .vl {
                        font-size: 1.1rem;
                    }

                }
            }
            
        }
    }
}