.highlight-today {
    color: #5A607F;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.date-icon {
    background-color: #fff;
    padding: 0.35rem 0.8rem;
    margin-left: 10px;
    border-radius: 3px;
    color: #5A607F;
    font-weight: 600;
    font-size: 0.9em;
}

.highlights {
    margin: 15px 0;

    h5{
        font-size: 1rem;
    }

    .card {
        border: none;
        border-radius: 17px;
        background-color: #fff !important;
        padding: 0 10px;

        .inner{
            color: #131523;

            p{
                font-size: 0.8em;
                color: #7E84A3;
                font-weight: 600;

            }
            h3{
                font-size: 3em;
            }
        }

        .small-box-footer {
            background-color: white;
            border-radius: 18px;
            background-color: #fff;
            color: #7E84A3;
        }
    }

}