.highlight-text {
    color: #5A607F;
}

.date-icon {
    background-color: #fff;
    padding: 0.35rem 0.8rem;
    margin-left: 10px;
    border-radius: 3px;
    color: #5A607F;
    font-weight: 600;
}